body
{
   background-color: lightblue;
    h1{color : blue;}

}

#myPlaces
{
    padding: 20x;
    background-color: white;
}

body
{
    margin: 100px;
}

main
{
    padding: 10px;
}

article.faq
{
    padding: 20px;
    background-color: beige;
}